body {
  background-image: url("Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
   grid-gap: 10px;
}

.button-container button {
  display: block;
      width: 100%;
}

.hidden {
  display: none;
}
.center {
  text-align: center;
}

.straight {
  display: inline;
  margin-left: 900px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

/* Button 1A settings */
#Button1A {
  background-image: url("image1A.jpg");
  background-size: cover;
  width: 81px;
  height: 93px;
  border: double black 7px;
}

#Button1B {
  background-image: url("image1B.jpg");
  background-size: cover;
  width: 81px;
  height: 93px;
  border: double black 7px;
}

/* Button 2A settings */
#Button2A {
  background-image: url("image2A.jpg");
  background-size: cover;
  width: 81px;
  height: 93px;
  border: double black 7px;
}

#Button2B {
  background-image: url("image2B.jpg");
  background-size: cover;
  width: 81px;
  height: 93px;
  border: double black 7px;
}

/* Button 3A settings */
#Button3A {
  background-image: url("image3A.jpg");
  background-size: cover;
  width: 81px;
  height: 93px;
  border: double black 7px;
}

#Button3B {
  background-image: url("image3B.jpg");
  background-size: cover;
  width: 81px;
  height: 93px;
  border: double black 7px;
}

/* Button 4A settings */
#Button4A {
  background-image: url("image4A.jpg");
  background-size: cover;
  width: 81px;
  height: 93px;
  border: double black 7px;
}

#Button4B {
  background-image: url("image4B.jpg");
  background-size: cover;
  width: 81px;
  height: 93px;
  border: double black 7px;
}

/* Button 5A settings */
#Button5A {
  background-image: url("image5A.jpg");
  background-size: cover;
  width: 81px;
  height: 93px;
  border: double black 7px;
}

#Button5B {
  background-image: url("image5B.jpg");
  background-size: cover;
  width: 81px;
  height: 93px;
  border: double black 7px;
}
